.clientes {
    display: flex;
    justify-content: center;
}
.carousel {
    width: 80vw;
}
.carousel-control-prev-icon {
    background-image: none;
}
.fa-angle-left {
    color: #05B2DC;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: -18px;
}
.carousel-control-next-icon {
    background-image: none;
}
.fa-angle-right {
    color: #05B2DC;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: -18px;
}

@media (min-width: 768px) {
    .carousel {
        width: 50vw;
    }
}    
@media (min-width:576px) and (max-width:767px){
    .carousel {
        width: 60vw;
    }
}