.info-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.whatsapp-pc-contacto {
    visibility: hidden;
    color: #05B2DC; 
    font-size: 30px;
    }
.whatsapp-mobil-contacto {
    visibility: visible;
    color:#05B2DC;
    font-size: 30px;
}
h5 {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 0px 0px 8px #05B2DC;
    display: inline-block;
}
#h5 {
    margin-left: 26px;
}
.fa-envelope {
    color:#05B2DC;
    font-size: 28px;
}
.fa-location-dot {
    color:#05B2DC;
    font-size: 30px;
}
h3 {
    text-decoration: none;
}
@media (min-width:768px) {
    .whatsapp-pc-contacto {
    visibility: visible;
    margin-top: 50px;
    padding-right: 25px; 
    margin-left: -30px;
}
    .whatsapp-mobil-contacto {
    visibility: hidden;
}
.info-contacto {
    display: block;
    margin-left: 150px;
}
iframe {
    width: 500px;
    height: 400px;
    margin-left: 500px;
    margin-top: -190px;
    margin-bottom: 15px;
}
h5 {
   font-size: 20px;
}
}

@media (min-width:576px) and (max-width:767px) {
    .whatsapp-pc-contacto {
    visibility: hidden;
}
    .whatsapp-mobil-contacto {
    visibility: visible;
}
}