.bg-bordes3 {
    border-top: 1px solid #05B2DC;
    height: 1px;
    width: 100vw;
}
.prev {
    display: flex;
    justify-content: space-between;
}
.fa-arrow-left {
    margin-left: 15px;
    margin-top: 15px;
    color: #05B2DC;
    font-size: 16px;
}
.lista-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}
.espejos {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 190px;
    margin: 5px;
     & h6 {
        height: 45px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 11px;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 5px #05B2DC;
        padding-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
    }
}
.contenedor-h6 {
    background-color: black;
    opacity: 0.7;
    width: auto;
}
.btn-ver-mas {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    color: white;
    padding: 3px;
    text-shadow: 0px 0px 5px #05B2DC;
}
/*espejos productos*/
.espejo1 {
    background-image: url(../img/espejo1.jpg);
}
.espejo2 {
    background-image: url(../img/espejo2.jpg);
}
.espejo3 {
    background-image: url(../img/espejo3.jpg);
}
.espejo4 {
    background-image: url(../img/espejo4.jpg);
}
.espejo5 {
    background-image: url(../img/espejo5.jpg);
}
.espejo6 {
    background-image: url(../img/espejo6.jpg);
}
.espejo7 {
    background-image: url(../img/espejo7.jpg);
}
.espejo8 {
    background-image: url(../img/espejo8.jpg);
}
.espejo9 {
    background-image: url(../img/espejo9.jpg);
}
.espejo10 {
    background-image: url(../img/espejo10.jpg);
}
.espejo11 {
    background-image: url(../img/espejo11.jpg);
}
.espejo12 {
    background-image: url(../img/espejo12.jpg);
}
.espejo13 {
    background-image: url(../img/espejo13.jpg);
}
.espejo14 {
    background-image: url(../img/espejo14.jpg);
}
.espejo15 {
    background-image: url(../img/espejo15.jpg);
}
.espejo16 {
    background-image: url(../img/espejo16.jpg);
}
.espejo17 {
    background-image: url(../img/espejo17.jpg);
}
.espejo18 {
    background-image: url(../img/espejo17.jpg);
}
.espejo19 {
    background-image: url(../img/espejo19.jpg);
}
.espejo20 {
    background-image: url(../img/espejo20.jpg);
}
/*.espejo21 {
    background-image: url(../img/espejo21.jpg);
}
.espejo22 {
    background-image: url(../img/espejo22.jpg);
}
.espejo23 {
    background-image: url(../img/espejo23.jpg);
}
.espejo24 {
    background-image: url(../img/espejo24.jpg);
}*/
/*fin espejos productos*/
/*pagina siguiente*/
.paginas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 20px;
    margin-left: 10px;
    margin-top: 15px;
}
.number {
    color: white;
    font-size: 12px;
}
.number-1 {
    color: #05B2DC;
}
/*pagina siguiente fin*/
/*vanitorys productos*/
.vanitor1 {
    background-image: url(../img/vanitor1.jpg);
}
.vanitor2 {
    background-image: url(../img/vanitor2.jpg);
}
.vanitor3 {
    background-image: url(../img/vanitor3.jpg);
}
.vanitor4 {
    background-image: url(../img/vanitor4.jpg);
}
.vanitor5 {
    background-image: url(../img/vanitor5.jpg);
}
.vanitor6 {
    background-image: url(../img/vanitor6.jpg);
}
.espejo7 {
    background-image: url(../img/vanitor7.jpg);
}
.espejo8 {
    background-image: url(../img/vanitor8.jpg);
}
.espejo9 {
    background-image: url(../img/vanitor9.jpg);
}
.espejo10 {
    background-image: url(../img/vanitor10.jpg);
}
.espejo11 {
    background-image: url(../img/vanitor11.jpg);
}
.espejo12 {
    background-image: url(../img/vanitor12.jpg);
}
.espejo13 {
    background-image: url(../img/vanitor13.jpg);
}
.espejo14 {
    background-image: url(../img/vanitor14.jpg);
}
.espejo15 {
    background-image: url(../img/vanitor15.jpg);
}
.espejo16 {
    background-image: url(../img/vanitor16.jpg);
}
/*.espejo17 {
    background-image: url(../img/vanitor17.jpg);
}
.espejo18 {
    background-image: url(../img/vanitor17.jpg);
}
.espejo19 {
    background-image: url(../img/vanitor19.jpg);
}
.espejo20 {
    background-image: url(../img/vanitor20.jpg);
}
.espejo21 {
    background-image: url(../img/vanitor21.jpg);
}
.espejo22 {
    background-image: url(../img/vanitor22.jpg);
}
.espejo23 {
    background-image: url(../img/vanitor23.jpg);
}
.espejo24 {
    background-image: url(../img/vanitor24.jpg);
}*/
/*fin vanitorys productos*/

@media (min-width: 768px) {
    .contenedor-h6 {
        background-color: black;
        opacity: 0.7;
        height: 55px;
        width: 100%;
        margin-left: 0%;
    }
    .espejos {
        background-position: center;
        background-size: cover;
        width: 320px;
        height: 480px;
         & h6 {
            font-size: 14px;
        }
    }
    .btn-ver-mas {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        color: white;
        padding: 5px;
        text-shadow: 0px 0px 5px #05B2DC;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .contenedor-h6 {
        background-color: black;
        opacity: 0.7;
        height: 50px;
    }
    .espejos {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 180px;
        height: 280px;
         & h6 {
            font-size: 12px;
        }
    }
    .btn-ver-mas {
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
        color: white;
        padding: 5px;
        text-shadow: 0px 0px 5px #05B2DC;
    }
}