footer {
    background-color: black;
    color: white;
    text-shadow: 0px 0px 8px #05B2DC;
    width: 100vw;
    height: 90px;
}
.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    h3 {
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 8px;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .footer h3 {
        font-size: 20px;
    }
   
}
@media (min-width:576px) and (max-width:767px){
    .footer h3 {
        font-size: 16px;
    }
}