header {
    background-image: url(../img/backgruond-header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.8;
}
/*redes sociales*/
@import "_socialicon";
/*fin redes sociales*/

.logo-header {
    display: flex;
    justify-content: space-between;
}  
.logo-index {
    width: 105px;
    margin-left: 25px;
    margin-top: 10px;
}
@import "_menu";

@media (min-width: 768px) {
    .logo-index {
        width: 120px;
        margin-left: 35px;
}
}
