.header {
    background-image: url(../img/backgruond-header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.background-menu {
    justify-content: center;
    align-content: center;
    background-color: #242222;   
    width: 100vw;
    height: 55px;
    margin-top: 5px;
}
.h2-header {
    color: white;
    text-shadow: 3px 2px 1px black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 150px;  
}
/*redes sociales*/
@import "_socialicon";
/*fin redes sociales*/

.logo-header {
    display: flex;
    justify-content: space-between;
}  
.logo-index {
    width: 90px;
    margin-left: 25px;
    margin-top: px;
}
@import "_menu";

@media (min-width: 768px) {
    .logo-index {
        width: 110px;
        margin-left: 35px;
}
    .background-menu {
        height: 66px;
}
    .h2-header {
        font-size: 28px;

}
}
@media (min-width:576px) and (max-width:767px){
    .background-menu {
        height: 61px;
}
    .logo-index {
        width: 95px;
    }
    .h2-header {
        font-size: 26px;    
}
}