header {
    background-image: url(../img/backgruond-header.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    filter: grayscale(0.6);
}
.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    letter-spacing: 5px;
    padding-top: 15px;
    font-size: 18px;
    a {
        margin-right: 15px;
    }
    .fa-square-facebook {
        color: white;
        &:hover {
            color: blue;
        }
    }
    .fa-square-instagram {
        color: white;
        &:hover {
            color: purple;
        }
    }
}
.logo-header {
    display: flex;
    justify-content: end;
}  
.logo-index {
    width: 200px;
}