#btn-menu {
    display: none;
}
#btn-menu:checked + .container-menu {
    opacity: 1;
    visibility: visible;
}
.icon-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 32px;
}
.fa-bars {
    color: white;
    text-shadow: 0px 0px 5px black;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
}
.p-menu {
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
    text-shadow: 0px 0px 5px black;
}
.container-menu {
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
.cont-menu {
    width: 100vw;
    max-width: 200px;
    height: 42%;
    background:#f8f8f8;
    opacity: 0.8;
    position: relative;
    transition: all 0.5s ease;
    z-index: 3;
}
.cont-menu nav {
    transform: translateY(15%);
}
.btn-slide {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 8px;
    font-size: 13px;
    color: black;
    border-bottom: 1px solid gray;
    transition: all 10ms;
    &:active {
            color:#05B2DC;
            font-weight: bold;
            border-left: 3px solid #05B2DC;
            background: lightgray;
            transition: all 10ms;
}
}
.active-inicio-mobil {
    border-left: 3px solid #05B2DC;
}
.cont-menu label i{
    font-size: 16px;
    position: absolute;
    right: 25px;
    top: 30px;
    color: white;
    cursor: pointer;
}
.fa-x {
    color: white;
    text-shadow: 0px 0px 5px black ;
    margin-right: -90px;
    margin-top: 25px;
}
.menu-pc2 {
    display: flex;
    justify-content: end;
    margin-right: 85px;
    margin-top: -40px;
}
.menu-pc {
    display: none;
    font-family: 'Courier New', Courier, monospace;
}
@media (min-width:768px) {
    .btn-menu {
        display: none;
}
    .menu-pc {
        display: block;
}
    .menu-pc nav a {
        color: white;
        text-decoration: none;
        justify-items: center;
        padding: 15px;
        &:hover {
            color: #05B2DC;
            border-bottom: 1px solid #05B2DC;
            transition: all .5s;
        }
    }
    .active-inicio-pc {
        border-bottom: 1px solid #05B2DC;
    }
}
@media (min-width:576px) and (max-width:767px){
    .p-menu {
        visibility: visible;
    }
}