.bg-bordes1 {
    margin-top: 5px;
    border-bottom: 1px solid #05B2DC;
    height: 1px;
    width: 100vw;
}
.bg-bordes2 {
    border-top: 1px solid #05B2DC;
    height: 1px;
    width: 100vw;
}
.titulos-pages {
    color: white;
    text-shadow: 0px 0px 8px #05B2DC ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-bottom: 25px;
}
.hr-page {
    margin-top: 45px;
}
.p-texto {
    color: white;
    font-size: 14px;
    text-shadow: 0px 0px 5px #05B2DC;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
} 
@media (min-width: 768px) {
    .bg-bordes2 {
        margin-top: 5px;
    }
    .titulos-pages {
        font-size: 24px;
    }
    .p-texto {
        font-size: 20px;
        margin-left: 35px;
    }
}
@media (min-width:576px) and (max-width:767px){
    .titulos-pages {
        font-size: 22px; 
    }
    .p-texto {
        font-size: 16px;
    }
}