.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 15px;
    font-size: 22px;
    a {
        margin-right: 15px;
    }    
    .fa-square-facebook {
        color: white; 
        text-shadow: 0px 0px 5px black ;
        &:hover {
            color: lightskyblue;
        }
}
    .fa-square-instagram {
        color: white;
        text-shadow: 0px 0px 5px black ;
        &:hover {
            color: lightcoral;
        }
}
}
@media (min-width: 768px) {
    .social-icon
        a {
            font-size: 26px;
            margin-right: 45px;
            margin-left: -25px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .social-icon 
        a {
            font-size: 24px;
            margin-right: 40px;
            margin-left: -20px;
    }
}