.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 15px;
    font-size: 22px;
    a {
        margin-right: 15px;
    }    
}
    .fa-square-facebook {
        color: white; 
        text-shadow: 0px 0px 5px black ;
        &:hover {
            color: #05B2DC;
        }
}
    .fa-square-instagram {
        color: white;
        text-shadow: 0px 0px 5px black ;
        &:hover {
            color: #05B2DC;
        }
}
.fa-mobil {
    letter-spacing: 5px;
    text-shadow: none;
    margin-top: 25px;
    margin-left: 15px;
}
.fa-facebook-mobil {
    color: black;   
}
.fa-instagram-mobil {
    color: black;
}
@media (min-width: 768px) {
    .social-icon
        a {
            font-size: 26px;
            margin-right: 45px;
            margin-left: -25px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .social-icon 
        a {
            font-size: 24px;
            margin-right: 40px;
            margin-left: -20px;
    }
}