* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #242222;
}
@import "_whatsapp";

/*header*/
@import "_header";
/*fin header*/ 
/*main*/
@import "_main";
/*fin main*/
/*Section clientes*/
@import "_clientes";
/*fin section clientes*/
/*nosotros*/
@import "_nosotros";
/*fin nosotros*/
/*productos*/
@import "_productos";
/*fin productos*/
/*espejos*/
@import "_espejos-vanitorys";
/*fin espejos*/

.hr-web {
    display: flex;
    justify-content: center;
    z-index: -1;
}
hr {
    width: 20%;
    height: 2px;
    color: #05B2DC;
    background-color: #05B2DC;
    margin-top: 25px;
    margin-bottom: 25px;
    z-index: -1;
}

/*footer*/
@import "_footer";
/*fin footer*/

