.vanitorA {
    background-image: url(/img/Cerymat.png);
}
.vanitor2 {
    background-image: url(../img/vanitorys2.jpg);
}
.vanitor3 {
    background-image: url(../img/vanitorys3.jpg);
}
.vanitor4 {
    background-image: url(../img/vanitorys1.jpg);
}
.vanitor5 {
    background-image: url(../img/vanitorys2.jpg);
}
.vanitor6 {
    background-image: url(../img/vanitorys3.jpg);
}