.vanitorys1 {
    background-image: url(../img/vanitorys1.jpg);
}
.vanitorys2 {
    background-image: url(../img/vanitorys2.jpg);
}
.vanitorys3 {
    background-image: url(../img/vanitorys3.jpg);
}
.vanitorys4 {
    background-image: url(../img/vanitorys1.jpg);
}
.vanitorys5 {
    background-image: url(../img/vanitorys2.jpg);
}
.vanitorys6 {
    background-image: url(../img/vanitorys3.jpg);
}